<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
</head>


<body>
  <h1>Journey Journal</h1>

  <div id="rat-mode">
    <img src="../static/rat.png" alt="rat mode" style="height: 50px;">
  </div>

  <div class="filters">
    <button class="add-journey-button" onclick="location.href = '/post-journey'"> 
      Add Your Journey!
    </button>

    <form method="GET" action="/sort" class="filter-form">
      <button class="filter-button" formaction="/sort">Sort By Date</button>
    </form>

    <form method="GET" class="filter-form">
      <p> 
        Journeys with a rating of at least 
        <select id="filter-rating">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
        </select>
      </p>
    </form>
  </div>

  <div class="journeys">
    {% for n in data %}
    <div class="journey-box">
      <div class="date-box">
        {{n.name}}'s trip on
        {{n.date}}
      </div>
      <div class="details-box">
        <div class="details-col">
          <div class="detail">
            {{n.start_station_name}}
          </div>
          <div class="detail">
            {{n.rating}} Stars
          </div>
        </div>
        <div class="details-col">
          <div class="detail">
            {{n.end_station_name}}
          </div>
          <div class="detail">
            {{n.identifier}} Line
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

<script type="text/javascript">
  let rating_select = document.getElementById("filter-rating")
  rating_select.onchange = function () {
    requested_rating = this.selectedIndex + 1
    window.location.replace(`/rating?num=${requested_rating}`)
  }

  let rat_button = document.getElementById("rat-mode")
  rat_button.onclick = () => {
    console.log("rat time")

    let rating_boxes = document.getElementsByClassName("journey-box")
    for (let i = 0; i < rating_boxes.length; i++) {
      rating_boxes[i].style.backgroundColor = "black"
    }

    let date_boxes = document.getElementsByClassName("date-box")
    for (let i = 0; i < date_boxes.length; i++) {
      date_boxes[i].style.backgroundColor = "darkred"
    }

    let detail_boxes = document.getElementsByClassName("detail")
    for (let i = 0; i < detail_boxes.length; i++) {
      detail_boxes[i].style.backgroundColor = "gold"
    }

    let filter_boxes = document.getElementsByClassName("filter-form")
    for (let i = 0; i < filter_boxes.length; i++) {
      filter_boxes[i].style.backgroundColor = "#303030"
    }

    let filter_button = document.getElementsByClassName("filter-button")
    for (let i = 0; i < filter_button.length; i++) {
      filter_button[i].style.backgroundColor = "#303030"
    }

    let html_elt = document.documentElement
    html_elt.style.backgroundColor = "red"

  }
</script>
</html>
