<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
</head>


<body>
  <h1>Journey Journal</h1>
  <!-- <div>{{data}}</div> -->

  <div class="filters">
    <form method="GET" action="/sort">
      <button class="filter-button" formaction="/sort">Sort By Date</button>
    </form>
  </div>

  <div class="journeys">
    {% for n in data %}
    <div class="journey-box">
      <div class="date-box">
        {{n.name}}'s trip on
        {{n.date}}
      </div>
      <div class="details-box">
        <div class="details-col">
          <div class="detail">
            {{n.start_station_name}}
          </div>
          <div class="detail">
            {{n.rating}} Stars
          </div>
        </div>
        <div class="details-col">
          <div class="detail">
            {{n.end_station_name}}
          </div>
          <div class="detail">
            {{n.identifier}} Line
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
