<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
  <script>

    function get_start_stations() {
      identifier = document.getElementById('identifier').value
      //clear_form(2)
      fetch(`/get-start-stations?identifier=${identifier}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("At which station did you start your trip? ", "start_station", "get_end_stations", data)

        });
    }

    function get_end_stations() {
      identifier = document.getElementById('identifier').value
      start_station = document.getElementById('start_station').value
      //clear_form(4)
      fetch(`/get-end-stations?identifier=${identifier}&start_station=${start_station}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("At which station did you end your trip? ", "end_station", "get_trains", data)

        });
    }

    function get_trains() {
      identifier = document.getElementById('identifier').value
      start_station = document.getElementById('start_station').value
      end_station = document.getElementById('end_station').value
      //clear_form(4)
      fetch(`/get-trains?identifier=${identifier}&start_station=${start_station}&end_station=${end_station}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("What was the train id of the train you took? (this should be common knowledge...) ", "train_id", "load_remaining_inputs", data)
          
        });
    }

    function load_remaining_inputs() {
      form = document.getElementById("insert-new-journey")

      form.append(document.createElement("br"))

      label = document.createElement("label")
      label.innerHTML = "How would you rate your trip? "
      form.append(label)

      select = document.createElement("select")
      select.name = "rating"
      select.id = "rating"
      for (var i = 1; i <= 5; i++) {
        option = document.createElement("option")
        option.value = i
        option.innerHTML = i
        select.append(option)
      }

      form.append(select)

      form.append(document.createElement("br"))

      label2 = document.createElement("label")
      label2.innerHTML = "Give us your SSN >:)  :) :) :) :) "
      form.append(label2)

      input2 = document.createElement("input")
      input2.type = "number"
      input2.id = "ssn"
      input2.name = "ssn"
      form.append(input2)

      form.append(document.createElement("br"))

      label3 = document.createElement("label")
      label3.innerHTML = "What was the date of this trip? "
      form.append(label3)

      input3 = document.createElement("input")
      input3.type = "date"
      input3.id = "date"
      input3.name = "date"
      form.append(input3)

      form.append(document.createElement("br"))

      label4 = document.createElement("label")
      label4.innerHTML = "What's your name? "
      form.append(label4)

      input4 = document.createElement("input")
      input4.type = "text"
      input4.id = "name"
      input4.name = "name"
      form.append(input4)

      label5 = document.createElement("label")
      label5.innerHTML = "What's your age? "
      form.append(label5)

      input5 = document.createElement("input")
      input5.type = "number"
      input5.id = "age"
      input5.name = "age"
      form.append(input5)

      label6 = document.createElement("label")
      label6.innerHTML = "Are you a CS student? "
      form.append(label6)

      input6 = document.createElement("input")
      input6.type = "radio"
      input6.id = "is_cs_student"
      input6.name = "is_cs_student"
      input6.value = "off"
      form.append(input6)

      form.append(document.createElement("br"))

      submit = document.createElement("input")
      submit.type = "submit"
      submit.value = "Post Your Journey!"
      form.append(submit)

    }

    function add_select(prompt, select_id, select_function, options) {

      form = document.getElementById("insert-new-journey")
      form.append(document.createElement("br"))

      label = document.createElement("label")
      label.innerHTML = prompt
      form.append(label)

      select = document.createElement("select")
      select.name = select_id
      select.id = select_id
      select.setAttribute("onchange", `if (this.selectedIndex != 0) {${select_function}()}`)

      select.append(document.createElement("option"))

      for (var i = 0; i < options.length; i++) {
        option = document.createElement("option")
        option.value = options[i]
        option.innerHTML = options[i]
        select.append(option)
      }

      form.append(select)
    }

    function clear_form(index) {
      for (var i = index; i < form.length*2; i++) {

      form = document.getElementById("insert-new-journey")

        for (var i = index; i < form.length*2; i++) {
          form = document.getElementById("insert-new-journey")
          form.removeChild(form.children[index])
        }
        
      }
    }

  </script>
</head>

<body>
  <h1>Journey Journal</h1>


    <form method="POST" action="/insert-new-journey" id="insert-new-journey">
      <label for="identifier">Which subway line did you take? </label>
      <select name="identifier" id="identifier" onchange="if (this.selectedIndex != 0) {get_start_stations()}">
        <option value=''></option>
        {% for n in data %}
        <option value={{n.identifier}}>{{n.identifier}}</option> 
        {% endfor %}
      </select>
      <!--<input type="text" name="identifier"> 
      <p>At which station did you start your trip?: <input type="text" name="start_station"> 
      <p>At which station did you end your trip?: <input type="text" name="end_station"> 
      <p>Which train did you take?: <input type="text" name="train_id"> 
      <p>How would you rate your trip?: <input type="text" name="rating"> 
      <p>Give us your SSN >:)  :) :) :) :) <input type="text" name="ssn"> 
      <input type="submit" value="Add"></p>-->
    </form>

</body>

</html>