<html>
<head>
  <link rel="stylesheet" href="../static/style.css">
  <script>

    function get_start_stations() {
      clear_form(0)
      identifier = document.getElementById('identifier').value
      fetch(`/get-start-stations?identifier=${identifier}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("start_station", data)

        });
    }

    function get_end_stations() {
      clear_form(1)
      identifier = document.getElementById('identifier').value
      start_station = document.getElementById('start_station').value
      fetch(`/get-end-stations?identifier=${identifier}&start_station=${start_station}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("end_station", data)

        });
    }

    function get_trains() {
      clear_form(2)
      identifier = document.getElementById('identifier').value
      start_station = document.getElementById('start_station').value
      end_station = document.getElementById('end_station').value
      fetch(`/get-trains?identifier=${identifier}&start_station=${start_station}&end_station=${end_station}`)
        .then((response) => response.json())
        .then((data) => {
          
          add_select("train_id", data)
          
        });
    }

    function load_remaining_inputs() {

      remaining_inputs = ["ssn", "age" , "date", "name", "is_cs_student", "rating"]

      for (var i = 0; i < remaining_inputs.length; i++) {
        document.getElementById(remaining_inputs[i]).hidden = false
        document.getElementById(remaining_inputs[i]+"_label").hidden = false
      }

      document.getElementById("submit_button").hidden = false

    }

    function add_select(select_id, options) {

      select = document.getElementById(select_id)
      for (var i = 0; i < options.length; i++) {
        option = document.createElement("option")
        option.value = options[i]
        option.innerHTML = options[i]
        select.append(option)
      }

      select.hidden = false
      document.getElementById(select_id + "_label").hidden = false

    }

    function clear_form(index) {

      input_ids = ["start_station", "end_station", "train_id", "rating", "ssn", "date", "name", "age", "is_cs_student"]

      for (var i = index; i < input_ids.length; i++) {

        select = document.getElementById(input_ids[i])

        document.getElementById(input_ids[i]).hidden = true
        //console.log("Setting " + input_ids[i] + ".hidden = true")
        document.getElementById(input_ids[i]+"_label").hidden = true

        if (input_ids[i] != "rating" && input_ids[i] != "date" && input_ids[i] != "is_cs_student" ) {
          console.log(select.id + ".innerHTML = " + select.innerHTML)
          select.innerHTML = '<option></option>'
          console.log(select.id + ".innerHTML = " + select.innerHTML)
        }
        
      }

      document.getElementById("submit_button").hidden = true
    }

  </script>
</head>

<body>
  <h1>Journey Journal</h1>
  <h2>Post Your Journey!</h2>

    <form method="POST" action="/insert-new-journey" id="insert-new-journey">
      <label for="identifier">Which subway line did you take? </label>
      <select name="identifier" id="identifier" onchange="if (this.selectedIndex != 0) {get_start_stations()}">
        <option value=''></option>
        {% for n in data %}
        <option value={{n.identifier}}>{{n.identifier}}</option> 
        {% endfor %}
      </select>
      <br>
      <label id="start_station_label" hidden>At which station did you start your trip? </label>
      <select hidden name="start_station" id="start_station" onchange="if (this.selectedIndex != 0) {get_end_stations()}">
        <option></option>
      </select>
      <br>
      <label id="end_station_label" hidden>At which station did you end your trip? </label>
      <select hidden name="end_station" id="end_station" onchange="if (this.selectedIndex != 0) {get_trains()}">
        <option></option>
      </select>
      <br>
      <label id="train_id_label" hidden>What was the train id of the train you took? (this should be common knowledge...) </label>
      <select hidden name="train_id" id="train_id" onchange="if (this.selectedIndex != 0) {load_remaining_inputs()}">
        <option></option>
      </select>
      <br>
      <label id="rating_label" hidden>How would you rate your trip? </label>
      <select hidden name="rating" id="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <br>
      <label id="ssn_label" hidden>Give us your SSN &gt;:)  :) :) :) :) </label>
      <input hidden type="number" id="ssn" name="ssn">
      <br>
      <label id="date_label" hidden>What was the date of this trip? </label>
      <input hidden type="date" id="date" name="date">
      <br>
      <label id="name_label" hidden>What's your name? </label>
      <input hidden type="text" id="name" name="name">
      <br>
      <label id="age_label" hidden>What's your age? </label>
      <input hidden type="number" id="age" name="age">
      <br>
      <label id="is_cs_student_label"  hidden>Are you a CS student? </label>
      <input hidden type="radio" id="is_cs_student" name="is_cs_student" value="off">
      <br>
      <input id="submit_button" hidden type="submit" value="Post Your Journey!"></form>

</body>

</html>